*.a
*.app
*.bak
*.bin
*.cmd
*.d
*.dSYM/
*.dat
*.dll
*.dylib
*.elf
*.exp
*.gch
*.hex
*.html
*.i*86
*.idb
*.ilk
*.ko
*.la
*.lib
*.lo
*.map
*.mod*
*.o
*.obj
*.out
*.pch
*.pdb
*.pkl
*.so
*.so.*
*.su
*.swp
*.tmp
*.x86_64
*output.txt
*time.txt
.tmp_versions/
Mkfile.old
Module.symvers
callgrind.*
dkms.conf
fuzz_output/
modules.order
og_xxd
og_xxd.c
output_*
results.md
timing.txt
tinyxxd
tinyxxd2
tinyxxd_*
tinyxxd_debug
xxd
xxd_*
